@{
    ViewData["Title"] = "Bem Vindo";
}

<div class="text-center">
    <h1 class="display-4">Equação do 2º Grau</h1>
    <h4>Determinação das raízes de uma equação do 2º grau</h4>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Este é um comentário que vai ser enviado para o browser-->

<form>
    <div>
        <p>
            Escreva por favor, os coeficientes de uma equação:<br/>
            @* Esta é uma linha de comentário do RAZOR
               só é visível no Visual Studio

               Nota: Não esquecer
               id -> identificação do objeto a ser lido no javascript (cliente)
               name -> identificação do objeto a ser lido no Servidor
            *@
            A: <input type="text" name="A"/><br/>
            B: <input type="text" name="B"/><br/>
            C: <input type="text" name="C"/><br/>
            <input type="submit" value="Calcular"/>
            
        </p>
    </div>
</form>

<div>
    &nbsp;<br />
    @* Vamos recuperar as mensagens enviadas pelo Controller *@
    @ViewBag.Mensagem <br />
    @ViewBag.x1 <br />
    @ViewBag.x2
</div>